<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Blog Homepage</title>
</head>
<body>
    <header>
        <h1>Welcome to My Blog!</h1>
        <a href="/create">Create New Post</a>
    </header>
    <main>
        <% if (posts.length > 0) { %>
            <% posts.forEach((post, index) => { %>
                <article>
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="index" value="<%= index %>">
                        <button type="submit">Delete</button>
                    </form>
                </article>
            <% }) %>
        <% } else { %>
            <p>No posts yet. Click "Create New Post" to start!</p>
        <% } %>
    </main>
</body>
</html>
